.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #00003d;
    margin-bottom: 50px;
    width: 85%;
    height: auto;
    border-radius: 20px;
    max-width: 500px;
    padding: 10px;
    padding-bottom: 30px;
    
}

.container h3{
    color: #9292eb;
    font-size: 2em;
}

.container h5{
    text-align: center;
    color: white;
}

.stacksProjeto{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}



.container img{
    width: 40px; height: 30px;
}

.container p{
    font-size: 1.8em;
    color: white;
}


.container .imgMockup{
    width: 90%;
    max-width: 550px;
    height: auto;

}


.links{

    display: flex;
    width: 80%;
    gap: 20px;

    
    
}

.links a{
    background-color: #4f3fd8;
    width: 60%;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    text-decoration: none;
  

    
}

.links a:active{
    background-color: #1f1670;
}


@media screen and (min-width: 1050px) {
    .container{
        height: 700px;
    }
    
}